/* GENERAL */
:root {
  --main-color: brown;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
p {
  padding: 0;
}
img {
  display: block;
}
link {
  text-decoration: none;
}
.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
/* END GENERAL */

/* MAIN PAGE */

/* HEADER */
header {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 24px 0px 25px 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
}
.logo-color {
  color: #2196f3;
}
.site-navi {
  display: flex;
}
.navi-item-link {
  text-decoration: none;
  color: #212121;
}
.navi-item:not(:last-child) {
  margin-right: 46px;
}
.contacts-navi {
  display: flex;
  margin-left: auto;
}
.contacts {
  display: flex;
}
.contact:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  text-decoration: none;
  color: #757575;
  fill: #757575;
}
.contact-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  /* Koperta i telefon nie są wyśrodkowane względem tekstu, powinny być ciut niżej. */
}
.navi-item-link:hover,
.navi-item-link:focus,
.contact-link:hover,
.contact-link:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: #2196f3;
  fill: #2196f3;
}
/* END HEADER */

/* TITLE */
.title {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit:cover? */
  width: 1600px;
  height: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.title .container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.title-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}
.title-button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  border-color: #2f303a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
}
/* LIST */
.list {
  display: flex;
}
.list-item {
  width: 270px;
}
.list-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
  margin: 0px;
}
.list-icon-box {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.list-icon {
  height: 70px;
  width: 70px;
}
/* END LIST */

/* WHAT WE DO? */
.what-we-do {
  padding-top: 0px;
  padding-bottom: 94px;
}
.what-we-do-list {
  display: flex;
  justify-content: space-between;
}
.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}
/* END WHAT WE DO? */

/* OUR TEAM */
.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
}
.our-team-list {
  display: flex;
  justify-content: center;
}
.our-team-frame {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  margin: 0;
}
.our-team-link-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 32px 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.our-team-link {
  background-color: #fff;
  fill: #afb1b8;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.our-team-link:hover,
.our-team-link:focus {
  background-color: #2196f3;
  fill: #fff;
}
.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.workplace {
  color: #757575;
  margin: 0px;
}
/* END OUR TEAM */

/* OUR CLIENTS */
.our-clients-list {
  display: flex;
}
.our-clients-list-item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.logo-icon {
  width: 106px;
  height: 60px;
}
.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.our-clients-list-item:hover,
.our-clients-list-item:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}
/* END OUR CLIENTS */

/* BOTTOM */
.bottom .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bottom {
  background-color: #2f303a;
  line-height: 1.71;
}
.logo-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.contact-address .contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 9px 0px 9px 0px;
}
.bottom-list {
  display: flex;
}
.bottom-list-item {
}
.bottom-list-item-headline {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}
.bottom-second-list {
  display: flex;
}
.bottom-second-list-item:not(:last-child) {
  margin-right: 10px;
}
.bottom-second-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}
.bottom-list-item:not(:last-child) {
  margin-right: 70px;
}
.bottom-second-list-link:hover,
.bottom-second-list-link:focus {
  background-color: #2196f3;
}
/* END BOTTOM */

/* END MAIN PAGE */

/* PORTFOLIO PAGE  */
.portfolio-page {
  padding-bottom: 0px;
}
.portfolio-page .container {
  justify-content: center;
}
.portfolio-button-list {
  display: flex;
  justify-content: center;
}
.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.box-list-section {
  padding-top: 50px;
}
.box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  margin: 0px;
}
.box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*Spróbować zrobić co 3 element padding*/
.box-list-item {
  margin-top: 30px;
  cursor: pointer;
}
.box-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 322px;
  height: 36px;
  margin-top: 20px;
  margin-left: 24px;
}
.box-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
  height: 30px;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

/* END PORTFOLIO PAGE */
